@mixin signaturefield-signaturefield {
	
	$prefix: signaturefield;
	
	.#{$prefix} {
		background: white;
		border: 1px solid #c5c5c5;
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		
		canvas {
			display: block;
		}
		
		.v-readonly {
			background: #fafafa;
			
			canvas {
				opacity: .5;
				/* hide focus */
				/* http://stackoverflow.com/a/8532287/1287936 */
				outline: none;
  				-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
			}
		}
		
		.#{$prefix}-clearbutton {
			position: absolute;
			top: 5px;
			right: 5px;
			text-decoration: none;
			font-weight: bold;
			color: #fff;
			background: #ccc;
			display: block;
			text-align: center;
			line-height: 22px;
			width: 22px;
			font-size: 20px;
			border-radius: 50%;
			cursor: pointer;
			
			&:before {
				content: "\00D7"
			}
		}
	}
	
}